[Unit]
Description=Health monitoring daemon
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=pi
ExecStart=/bin/bash /home/pi/documents/emli_project/raspberry_pi/healh_publish.sh

[Install]
WantedBy=multi-user.target
