[Unit]
Description=Read from plant
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=pi
ExecStart=/bin/bash /home/pi/documents/emli_project/raspberry_pi/pico_serial_input.sh

[Install]
WantedBy=multi-user.target

